{% extends "frontend/shared/base.html" %}

{% load static %}
{% load sass_tags %}

{% block header %}
{% include "frontend/shared/_header.html" with bgc="bg-black" %}
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'frontend/css/news_index.scss' %}">
<div class="container" style="padding-top: 40px;">
    <!--Page heading-->
    <div class="row wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
        <div class="col-md-12 mt-5">
            <form class="search-form" _lpchecked="1" action="{% url 'news-index' %}" method="get">
                <div class="md-form">
                    <input class="mr-sm-2" id="dpurpleForm-email" type="text" placeholder="想搜索点什么" aria-label="Search" style="width: 60%;" name="q" value="{{q}}">
                    <button type="submit" class="btn btn-primary waves-effect waves-light"><i class="fa fa-search fa-3x white-text" style="font-size: 20px;"></i></button>
                </div>
                <div>
                    <select class="mdb-select colorful-select dropdown-primary" name="brand_ids" multiple="multiple" id="brand-name">
                        <option value="all" selected="">所有品牌</option>
                        {% for brand in brands %}
                        <option value="{{brand.id}}">{{brand.name}}</option>
                        {% endfor %}
                    </select>
                    <select class="mdb-select colorful-select dropdown-primary" name="intent_ids" multiple="multiple" id="activity-name" style="margin-left: 20px;">
                        <option value="all" selected="">所有事件</option>
                        {% for intent in intents %}
                        <option value="{{intent.intent}}">{{intent.intent}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <!--/.Page heading-->
    <hr>
    {% include "frontend/partials/_activities.html" %}
    <hr>
    <!--Pagination-->
    {% include "frontend/partials/_pagination.html" %}
    <!--/.Pagination-->
</div>
{% endblock %}

<!-- Javascript -->
{% block page_javascript %}
<script src="{% static 'frontend/javascript/circle-progress.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.zrelated-canvas').each(function() {
        $(this).circleProgress({
            size: 100,
            thickness: 5,
            startAngle: Math.PI / 4 * 3,
            lineCap: 'round',
            fill: {
                color: '#3bbf69'
            },
            emptyFill: '#FFF'
        }).on('circle-animation-progress', function(event, progress, stepValue) {
            $(this).find('.value').html(parseInt(stepValue * 100) + '分');
        });
    });

    $('.emotion-canvas').each(function() {
        $(this).circleProgress({
        }).on('circle-animation-progress', function(event, progress, stepValue) {
            $(this).find('.value').html(parseInt(stepValue * 100) + '<i>%</i>');
        });
    });
  });
</script>

<script src="https://cdn.bootcss.com/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
<link href="https://cdn.bootcss.com/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" rel="stylesheet">
<script type="text/javascript">
    $(document).ready(function() {
        $('#brand-name').multiselect();
        $('#activity-name').multiselect();
    });
</script>
{% endblock %}

