{% extends "frontend/shared/base.html" %}

{% load static %}
{% load sass_tags %}

{% block header %}
{% include "frontend/shared/_header.html" with bgc="bg-black" %}
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'frontend/css/news_index.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'frontend/css/news_show.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'frontend/css/brand_show.scss' %}">
<div class="container" style="padding-top: 100px;">
    <div class="row">
      <div class="col-12 col-sm-8">
          <div class="row">
              <!--Avatar-->
              <div class="col-12 col-sm-2">
                  <img src="{{activity.brand.logo.url}}" class="img-fluid rounded-circle z-depth-2" alt="">
              </div>
              <!--Author Data-->
              <div class="col-12 col-sm-10">
                  <p>
                      <strong>{{activity.intent}}</strong>
                  </p>
                  <div class="personal-sm">
                      <p>{{activity.create_time}}</p>
                  </div>
                  <p style="overflow: hidden;">{{activity.brand.info}}</p>
                  <div>
                    {% for name in activity.distinct_params %}
                    <div class="chip">
                        <span>{{name}}</span>
                    </div>
                    {% endfor %}
                  </div>
              </div>
          </div>
          <hr>
          <div class="author-box">
            <div class="row">
              <div class="data-box col-12 col-sm-3">
                <div class="zcanvas zrelated-canvas" data-value='{{activity.influence}}'>
                  <span class="value">98分</span>
                  <span class="text">影响力</span>
                </div>
              </div>
              <div class="data-box col-12 col-sm-3">
                <div class="zcanvas emotion-canvas" data-value='{{activity.sentiment}}'>
                  <span class="value">98分</span>
                  <span class="text">情感</span>
                </div>
              </div>
              <div class="data-box col-12 col-sm-3">
                <div class="zcanvas zrelated-canvas" data-value='{{activity.innovation_score}}'>
                  <span class="value">98分</span>
                  <span class="text">创新性</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="data-box col-12 col-sm-3">
                <div class="zcanvas zrelated-canvas" data-value='{{activity.popularity_score}}'>
                  <span class="value">98分</span>
                  <span class="text">知名度</span>
                </div>
              </div>
              <div class="data-box col-12 col-sm-3">
                <div class="zcanvas zrelated-canvas" data-value='{{activity.figure_score}}'>
                  <span class="value">98</span>
                  <span class="text">品牌形象</span>
                </div>
              </div>
              <div class="data-box col-12 col-sm-3">
                <div class="zcanvas zrelated-canvas" data-value='{{activity.market_score}}'>
                  <span class="value">98</span>
                  <span class="text">市场潜力</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="data-box col-12 col-sm-3">
                <div class="zcanvas zrelated-canvas" data-value='{{activity.capital_score}}'>
                  <span class="value">98分</span>
                  <span class="text">资本性</span>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-12 col-sm-4">
          <section class="text-left">
              <!--Author box-->
              {% include "frontend/partials/_relative_articles.html" %}
              <!--/.Author box-->
              <!-- Brand Figure -->
              {% include "frontend/partials/_brand_figure.html" %}
              <!--/ .Brand Figure -->
          </section>
      </div>
    </div>
</div>
{% endblock %}

{% block page_javascript %}
<script type="text/javascript">
  $(document).ready(function () {
    var brandGraphChart = echarts.init(document.getElementById('brandGraphChart'));
    var option = {
        // title: {
        //     text: '基础雷达图'
        // },
        tooltip: {},
        legend: {
            data: ['{{brand.name}}']
        },
        radar: {
            // shape: 'circle',
            name: {
                textStyle: {
                    color: '#fff',
                    backgroundColor: '#999',
                    borderRadius: 3,
                    padding: [3, 5]
               }
            },
            indicator: [
               { name: '知名度', max: 10},
               { name: '品牌形象', max: 10},
               { name: '市场潜力', max: 10},
               { name: '创新性', max: 10},
               { name: '资本性', max: 10}
            ]
        },
        series: [{
            name: '可口可乐',
            type: 'radar',
            areaStyle: {normal: {
                                opacity: 0.9,
                                color: new echarts.graphic.RadialGradient(0.5, 0.5, 1, [
                                    {
                                        color: '#B8D3E4',
                                        offset: 0
                                    },
                                    {
                                        color: '#72ACD1',
                                        offset: 1
                                    }
                                ])
                            }},
            data : [
                {
                    value : {{brand.figure}},
                    name : "{{brand.name}}",
                }
            ]
        }]
    };

    brandGraphChart.setOption(option);
  });
</script>

<script src="{% static 'frontend/javascript/circle-progress.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.zrelated-canvas').each(function() {
        $(this).circleProgress({
            size: 100,
            thickness: 5,
            startAngle: Math.PI / 4 * 3,
            lineCap: 'round',
            fill: {
                color: '#3bbf69'
            },
            emptyFill: '#f57c00'
        }).on('circle-animation-progress', function(event, progress, stepValue) {
            $(this).find('.value').html(parseInt(stepValue * 100) + '');
        });
    });

    $('.emotion-canvas').each(function() {
        $(this).circleProgress({
        }).on('circle-animation-progress', function(event, progress, stepValue) {
            $(this).find('.value').html(parseInt(stepValue * 100) + '<i>%</i>');
        });
    });
  });
</script>
{% endblock %}

