{% for activity in activities %}
<!--First row-->
<div class="row mt-5 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">
    <!--Featured image-->
    <div class="col-12 col-sm-2">
        <div class="view overlay" style="overflow: initial;">
            <a href="{% url 'brand-show' activity.brand_id %}" title="">
              <img src="{{activity.brand.logo.url}}" class="img-fluid rounded-circle z-depth-2" alt="">
              <div class="mask waves-effect waves-light"></div>
            </a>
        </div>
    </div>
    <!--/.Featured image-->
    <!--Post excerpt-->
    <div class="col-12 col-sm-6">
        <a href="{% url 'news-show' activity.id %}">
            <h2 class="post-title font-bold">{{activity.articles.0.title|truncatechars:20}}</h2>
        </a>
        <h6 class="dark-grey-text font-bold font-small">{{activity.create_time}}</h6>
        <p class="my-4 dark-grey-text">{{activity.intent}}</p>
        <div>
          {% for var1 in activity.distinct_params %}
          <div class="chip">
              <span>{{var1.name}}</span>
          </div>
          {% endfor %}
        </div>
    </div>
    <!--/.Post excerpt-->
    <div class="col-12 col-sm-2">
        <div class="data-box">
          <div class="zcanvas zrelated-canvas" data-value="{{activity.influence}}">
            <span class="value">98分</span>
            <span class="text">影响力</span>
          </div>
        </div>
    </div>
    <div class="col-12 col-sm-2">
        <div class="data-box">
          <div class="zcanvas emotion-canvas" data-value="{{activity.sentiment}}">
            <span class="value">积极</span>
            <span class="text">积极情绪</span>
          </div>
        </div>
    </div>
</div>
<!--/.First row-->
{% if not forloop.last %}
<hr class="extra-margin my-3">
{% endif %}
{% endfor %}

